.create-board {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: 50px;
  top: 100px;
  font-size: 30px;
  background: rgb(255,255,255);
  background: linear-gradient(299deg, rgba(255,255,255,1) 0%, rgba(119,0,230,1) 0%, rgba(102,30,97,1) 50%, rgba(222,28,188,1) 100%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  transition: all ease-in 0.2s;
}

.create-board:hover {
  font-size: 35px;
}

.board-intro-container > h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.board-intro-container > p {
  opacity: 0.6;
}

.column-container .column {
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
}

.column-status-container .btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-container .create-card, .btn-container .remove-column, .btn-container .edit-column {
  opacity: 0.5;
  transition: all ease-in 0.5s;
}

.btn-container .create-card:hover {
  opacity: 1;
}

.btn-container .remove-column:hover {
  opacity: 1;
}

.column-status-container .edit-column:hover {
  opacity: 1;
}

.column-status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-status-container .column-status {
  display: inline-block;
  border-radius: 20px;
  padding: 7px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.card-container .card {
  background-color: rgba(255, 255, 255, 0.2);
  height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}