body {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(30,46,102,1) 50%, rgba(10,7,31,1) 100%);
  padding: 100px 0;
}

.create-board {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: 50px;
  top: 100px;
  font-size: 30px;
  background: rgb(255,255,255);
  background: linear-gradient(299deg, rgba(255,255,255,1) 0%, rgba(119,0,230,1) 0%, rgba(102,30,97,1) 50%, rgba(222,28,188,1) 100%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  transition: all ease-in 0.2s;
}

.create-board:hover {
  font-size: 35px;
}

.boards-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(127,30,254,1) 0%, rgba(208,67,226,1) 51%, rgba(59,0,255,1) 100%);
  box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.5);
  background-color: #98b3e3;
  border: none;
  border-radius: 10px;
  padding: 50px 30px;
  color: white;
}

.board-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-intro-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board-intro-container > h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.board-intro-container > p {
  opacity: 0.6;
}

.board-intro-container > input {
  background-color: transparent;
  border: none;
  font-family: "Roboto Mono", monospace;
  color: white;
}

.board-intro-container > input::placeholder {
  color: white;
  opacity: 0.7;
}

.board-intro-container #input-board-title {
  font-size: 30px;
  margin-bottom: 5px;
}

.create-column {
  font-size: 30px;
  opacity: 0.5;
  margin-right: 10px;
  transition: all ease-in 0.5s;
}

.create-column:hover {
  opacity: 1;
}

.column-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1600px;
  overflow-x: auto;
}

.column {
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 400px;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
  flex-shrink: 0;
}

.column-status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px; /* 원하는 높이로 설정 */
}

.column-status-container .column-status,
.column-status-container #input-board-status {
  height: 100%; /* 부모 요소의 높이에 맞추기 */
  font-size: 16px; /* 텍스트 크기를 일관되게 유지 */
}

.column-status-container #input-board-status {
  padding: 0; /* 불필요한 여백 제거 */
  box-sizing: border-box; /* padding을 포함하여 높이 계산 */
}

.column-status-container .btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-container .create-card, .btn-container .remove-column {
  opacity: 0.5;
  transition: all ease-in 0.5s;
}

.btn-container .create-card:hover, .btn-container .remove-column:hover {
  opacity: 1;
}

.column-status-container .edit-column:hover {
  opacity: 1;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-height: 415px;
  overflow: auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}