body {
  height: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(30,162,254,1) 35%, rgba(67,107,226,1) 64%, rgba(59,0,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

#signup-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.5);
}

#signup-container > h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

#signup-container > input {
  height: 50px;
  border: none;
  border-bottom: 1px solid white;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: white;
  background-color: transparent;
  transition: all 1s;
}

#signup-container > input::placeholder {
  color: white;
}

#signup-container > input:hover {
  border-bottom: 1px solid var(--color-blue);
}

#signup-container > button {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #2356ad;
  font-family: "Roboto Mono", monospace;
  transition: all ease-in 0.5s;
}

#signup-container > button:hover {
  background-color: var(--color-blue);
  color: white;
}