<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Navigator Card Details Page</title>
  <link rel="stylesheet" type="text/css" href="/css/card-details.css">
  <link rel="stylesheet" type="text/css" href="/css/nav.css">
  <link rel="stylesheet" type="text/css" href="/css/global.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<nav>
  <div class="nav-container">
    <a href="http://localhost:8080/home">Task Navigator</a>
  </div>
  <div class="nav-container nav-right">
    <span id="navUsername">Username</span>
    <a href="http://localhost:8080/users/login-page">LOG OUT</a>
  </div>
</nav>

<div class="card-container">
  <div class="card-container-top">
    <h1 class="card-title">Card Title</h1>
    <div class="card-icons">
      <a href="#" id="edit-card-icon">
        <i class="fa-regular fa-pen-to-square"></i>
      </a>
      <a href="#" class="remove-card-icon">
        <i class="fa-solid fa-xmark"></i>
      </a>
    </div>
  </div>
  <div class="card-info">
    <span id="card-deadline">~ 2024.07.12</span>
    <span id="card-writer">wirter</span>
  </div>
  <p class="card-content">
    A staggering 24 hours that cracked the political foundation of Joe Biden’s reelection bid leave him facing the most high-pressure presidential news conference in modern history on Thursday.

    The stakes for Biden’s solo appearance at the conclusion of the NATO summit multiplied by the hour as his political position unraveled at a dignity-sapping rate. Supporters from Congress to Hollywood warned that he needed to step aside for the sake of party and country, and former Speaker Nancy Pelosi sent a clear signal that a recalcitrant president should rethink his options.
  </p>
  <div class="card-tags-container">
    <span># Feature</span>
    <span># Bug</span>
  </div>
</div>

<div class="comment-container">
  <div class="comment">
    <span>That's good!</span>
    <span>-</span>
    <span>Tom</span>
  </div>
  <div class="comment">
    <span>news conference in modern history on Thursday. The stakes for Biden’s</span>
    <span>-</span>
    <span>Jerry</span>
  </div>
</div>

<div class="send-comment-container">
  <input type="text" class="input-comment" placeholder="Write Comment">
  <button>Comment</button>
</div>

<script src="/js/index.js"></script>
<script src="/js/create-board.js"></script>

</body>
</html>