<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Navigator Main Page</title>
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
  <nav>
    <div class="nav-container">
      <a href="index.html">Task Navigator</a>
    </div>
    <div class="nav-container nav-right">
      <span id="navUsername">Username</span>
      <button>LOG OUT</button>
    </div>
  </nav>

  <a href="#" class="create-board">
    <i class="fa-solid fa-plus"></i>
  </a>

  <div class="board-container">
    <div class="board-intro-container">
      <h3>Board Title</h3>
      <p>This is board introduction.</p>
    </div>
    <div class="column-container">

      <div class="column" draggable="true">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card" draggable="true">Card Title</a>
        </div>
      </div>

      <div class="column" draggable="true">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card" draggable="true">Card Title</a>
        </div>
      </div>

      <div class="column" draggable="true">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card" draggable="true">Card Title</a>
          <a href="#" class="card" draggable="true">Card Title</a>
          <a href="#" class="card" draggable="true">Card Title</a>
        </div>
      </div>
    </div>
  </div>

  <div class="board-container">
    <div class="board-intro-container">
      <h3>Board Title</h3>
      <p>This is board introduction.</p>
    </div>
    <div class="column-container">

      <div class="column">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card">Card Title</a>
        </div>
      </div>

      <div class="column">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card">Card Title</a>
        </div>
      </div>

      <div class="column">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card">Card Title</a>
          <a href="#" class="card">Card Title</a>
          <a href="#" class="card">Card Title</a>
        </div>
      </div>

    </div>
  </div>

  <div class="board-container">
    <div class="board-intro-container">
      <h3>Board Title</h3>
      <p>This is board introduction.</p>
    </div>
    <div class="column-container">

      <div class="column">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card">Card Title</a>
        </div>
      </div>

      <div class="column">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card">Card Title</a>
        </div>
      </div>

      <div class="column">
        <div class="column-status-container">
          <span class="column-status">before</span>
        </div>
        <div class="card-container">
          <a href="#" class="card">Card Title</a>
          <a href="#" class="card">Card Title</a>
          <a href="#" class="card">Card Title</a>
        </div>
      </div>

    </div>
  </div>

  <script src="../static/index.js"></script>

</body>
</html>