<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Navigator Login Page</title>
  <link rel="stylesheet"type="text/css" href="/css/global.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<form id="login-container" method="post">
  <h2>LOGIN</h2>
  <input id="userId" name="userId" type="text" placeholder="ID">
  <input id="userPassword" name="password" type="password" placeholder="PW">
  <div class="button-container">
    <button onclick="window.open('http://localhost:8080/users/signup-page')">SIGNUP</button>
    <button onclick="onLogin()">LOGIN</button>
  </div>
</form>

<script>
  $(document).ready(function () {
    // 토큰 삭제
    Cookies.remove('Authorization', {path: '/'});
  });

  const href = location.href;
  const host = 'http://' + window.location.host;

  function onLogin() {
    let username = $('#userId').val();
    let password = $('#userPassword').val();

    console.log(username);

    $.ajax({
      type: "POST",
      url: `/users/login`,
      contentType: "application/json",
      data: JSON.stringify({userId: username, password: password}),
    })
    .done(function (res, status, xhr) {
      const token = xhr.getResponseHeader('Authorization');

      Cookies.set('Authorization', token, {path: '/'})

      $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        console.log(token);
        jqXHR.setRequestHeader('Authorization', token);
      });

      window.location.href = host + '/home';
    })
    .fail(function (jqXHR, textStatus) {
      alert("Login Fail");
    });
  }
</script>

</body>
</html>